body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
}

img {
    width: 100px;
}

h3,
h4 {
    margin: 5px;
}

h4 {
    color: #bbbbbb;
    padding-bottom: 10px;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    background: #388F6B;
    margin: 7px;
    padding: 20px;
    color: white;
    text-decoration: none;
    border: 2px solid #388F6B;
}

a:hover,
a:active {
    color: #388F6B;
    background: #fff;
    animation: fade 0.6s ease-in;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}